body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#root {
  width: 100%;
}

video {
  margin: 20px 0 20px 0;
  height: 25%;
  background-color: black;
  width: 85%;
}

input {
  width: 45%;
  height: 45px;
  font-size: 2em;
}