body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #24243e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#root {
  width: 100%;
}

video {
  background-color: black;
  width: 80%    !important;
  height: auto   !important;

}

.vid-wrapper {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 25%;

}

p {
  color:white;
}

input {
  width: 45%;
  height: 45px;
  font-size: 2em;
}

html {
  height: 100%;
}