body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  background: black; /* fallback for old browsers */

}

#root {
  width: 100%;
}

video {
  background-color: black;
  width: 80%    !important;
  height: auto   !important;

}

.vid-wrapper {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 25%;

}

a { color: inherit; } 

p {
  color:white;
}

input {
  width: 45%;
  height: 45px;
  font-size: 2em;
}

html {
  height: 100%;
}